@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype');
}