@import './_colors.scss';
// MARGIN
.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.ml-1 {
    margin-left: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px!important;
}

.mb-3 {
    margin-bottom: 30px!important;
}

.ml-0 {
    margin-left: 0px!important;
}

.ml-2 {
    margin-left: 20px;
}

.mt-0 {
    margin-top: 0px!important;
}

.mb-0 {
    margin-bottom: 0px!important;
}

.mr-0 {
    margin-right: 0px!important;
}

// PADDING
.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pl-1 {
    padding-left: 10px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pt-2 {
    padding-top: 20px !important;
}

.pt-0 {
    padding-top: 0px!important;
}

.pb-0 {
    padding-bottom: 0px!important;
}

.pr-0 {
    padding-right: 0px !important;
}

// DISPLAY
.d-table {
    display: table;
}

.d-inline {
    display: inline-block;
    vertical-align: top;
}

.d-block {
    display: block;
}

.col-4 {
    width: 33.333%;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -1px;
    background-color: #fff;
}

.col-6 {
    width: 49%;
    float: left;
}

.col-12 {
    width: 100%;
    clear: both;
}

.border-left {
    border-left: 1px solid $primary;
}

.border-bottom {
    border-bottom: 1px solid $primary;
}

.border-bottom-0 {
    border-bottom: 0px !important;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}