@import './fonts';
@import './utilitis';
@import './colors.scss';
* {
    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    width: 100%;
    word-spacing: normal
}
// style="padding: 40px;"
body {
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    background: #fff;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    word-spacing: normal
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    color: $primary;
    p {
        font-size: 16px;
        word-spacing: normal
    }
    img {
        display: inline-block;
        vertical-align: baseline;
    }
}

.pdf-header {
    font-weight: 600;
    color: $primary;
    font-size: 26px;
    margin-bottom: 20px;
    img {
        width: 120px;
        float: right;
    }
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.report {
    border: 1px solid $primary;
    padding: 0px 10px;
    overflow: hidden;
    h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    h6 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 16px;
    }
    .borderd-table {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        margin: 0px -15px 20px -15px;
        display: table;
        // width: calc(100% + 32px);
        section {
            border-right: 1px solid $primary;
            padding: 10px;
            display: table-cell;
            &:first-child {
                border-left: 0;
            }
            &:last-child {
                border-left: 0;
            }
            strong {
                display: block;
                margin-bottom: 6px;
                margin-right: 6px;
            }
        }
    }
}


.table {
    margin: 0 -10px 0px -10px;
    // width: calc(100% + 31px);
    text-align: left;
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        th {
            font-size: 14px;
        }
        td,
        th {
            border: 1px solid $primary;
            padding: 10px 15px;
            background: #fff;
            text-align: left;
            vertical-align: top;
            &:first-child {
                border-left: 0;
            }
            &:last-child {
                border-left: 0;
            }
            p {
                margin-bottom: 4px;
                margin-top: 6px;
                font-size: 14px;
            }
        }
    }
}

.count {
    display: inline-block;
    background: $lightgray;
    padding: 2px 8px;
    border-radius: 24px;
    font-weight: 600;
    margin-left: 10px;
}

.profile {
    margin-bottom: 15px;
    font-weight: 500;
    .img-medium {
        width: 32px;
        margin-right: 10px;
        margin-left: 0px;
        vertical-align: middle;
    }
    .icon {
        width: auto;
        height: 14px;
        vertical-align: middle;
        margin-right: 2px;
    }
    small {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
    }
}

.box {
    .table {
        margin: 0;
        width: 100%;
        td,
        th {
            width: 33.33%;
            min-width: 33.33%;
            max-width: 33.33%;
            &:first-child {
                border-left: 1px solid $primary;
            }
            &:last-child {
                border-left: 1px solid $primary;
            }
        }
    }
    .table2 {
        margin: 0;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        table{
            width: 100%;
        }
        th {
            font-size: 14px;
        }
        td,
        th {
            border: 1px solid $primary;
            padding: 10px 15px;
            background: #fff;
            text-align: left;
            vertical-align: top;
            &:first-child {
                border-left: 1px solid $primary;
            }
            &:last-child {
                border-left: 1px solid $primary;
            }
        }
    }
}

.icon-small {
    height: 14px !important;
    width: auto !important;
    position: relative;
    top: 2px;
}


.white-space {
    white-space: nowrap;
}


@page {
    size: auto;
    margin: 20px 0;
}

@media print {
    p,
    .sm-profiles span {
        font-size: 12px !important;
    }
    tr,
    td {
        page-break-inside: avoid;
    }
    .table2{
        th,td{
            font-size: 12px !important;
        }
    }
}