@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?v0ctu8');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?v0ctu8#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?v0ctu8') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?v0ctu8') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?v0ctu8##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="oic-"], [class*=" oic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oic-monitoring {
  &:before {
    content: $oic-monitoring;     
    color: #666;
  }
}
.oic-m-analytics {
  &:before {
    content: $oic-m-analytics; 
  }
}
.oic-calendar {
  &:before {
    content: $oic-calendar; 
  }
}
.oic-delete {
  &:before {
    content: $oic-delete; 
  }
}
.oic-warning {
  &:before {
    content: $oic-warning; 
  }
}
.oic-tick-circle {
  &:before {
    content: $oic-tick-circle; 
  }
}
.oic-rocket {
  &:before {
    content: $oic-rocket; 
  }
}
.oic-bell-fill {
  &:before {
    content: $oic-bell-fill;     
    color: #495055;
  }
}
.oic-question-circle-fill {
  &:before {
    content: $oic-question-circle-fill;     
    color: #495055;
  }
}
.oic-m-calendar-task {
  &:before {
    content: $oic-m-calendar-task;     
    color: #495055;
  }
}
.oic-m-admin {
  &:before {
    content: $oic-m-admin;     
    color: #495055;
  }
}
.oic-m-group {
  &:before {
    content: $oic-m-group;     
    color: #495055;
  }
}
.oic-m-doc-link-in {
  &:before {
    content: $oic-m-doc-link-in;     
    color: #495055;
  }
}
.oic-m-database {
  &:before {
    content: $oic-m-database;     
    color: #495055;
  }
}
.oic-m-bookmark {
  &:before {
    content: $oic-m-bookmark;     
    color: #495055;
  }
}
.oic-m-drag {
  &:before {
    content: $oic-m-drag;     
    color: #495055;
  }
}
.oic-m-search-lens {
  &:before {
    content: $oic-m-search-lens;     
    color: #495055;
  }
}
.oic-m-link {
  &:before {
    content: $oic-m-link; 
  }
}
.oic-m-file-doc {
  &:before {
    content: $oic-m-file-doc; 
  }
}
.oic-m-file-lens {
  &:before {
    content: $oic-m-file-lens;     
    color: #495055;
  }
}
.oic-m-doc-file {
  &:before {
    content: $oic-m-doc-file;     
    color: #495055;
  }
}
.oic-search {
  &:before {
    content: $oic-search; 
  }
}
.oic-search-thick {
  &:before {
    content: $oic-search-thick; 
  }
}
.oic-cross-thin {
  &:before {
    content: $oic-cross-thin; 
  }
}
.oic-cross {
  &:before {
    content: $oic-cross; 
  }
}
.oic-cross-thick {
  &:before {
    content: $oic-cross-thick; 
  }
}
.oic-cross-sm {
  &:before {
    content: $oic-cross-sm; 
  }
}
.oic-arrow-up {
  &:before {
    content: $oic-arrow-up; 
  }
}
.oic-arrow-right {
  &:before {
    content: $oic-arrow-right; 
  }
}
.oic-arrow-down {
  &:before {
    content: $oic-arrow-down; 
  }
}
.oic-arrow-left {
  &:before {
    content: $oic-arrow-left; 
  }
}
.oic-arrow-up-thick {
  &:before {
    content: $oic-arrow-up-thick; 
  }
}
.oic-arrow-right-thick {
  &:before {
    content: $oic-arrow-right-thick; 
  }
}
.oic-arrow-down-thick {
  &:before {
    content: $oic-arrow-down-thick; 
  }
}
.oic-arrow-left-thick {
  &:before {
    content: $oic-arrow-left-thick; 
  }
}
.oic-envelope {
  &:before {
    content: $oic-envelope; 
  }
}
.oic-envelope-thick {
  &:before {
    content: $oic-envelope-thick; 
  }
}
.oic-circle {
  &:before {
    content: $oic-circle; 
  }
}
.oic-circle-target {
  &:before {
    content: $oic-circle-target; 
  }
}
.oic-circle-goal {
  &:before {
    content: $oic-circle-goal; 
  }
}
.oic-eye {
  &:before {
    content: $oic-eye; 
  }
}
.oic-eye-thick {
  &:before {
    content: $oic-eye-thick; 
  }
}
.oic-dots {
  &:before {
    content: $oic-dots; 
  }
}
.oic-dots-thick {
  &:before {
    content: $oic-dots-thick; 
  }
}
.oic-gender {
  &:before {
    content: $oic-gender; 
  }
}
.oic-gender-thick {
  &:before {
    content: $oic-gender-thick; 
  }
}
.oic-clock {
  &:before {
    content: $oic-clock; 
  }
}
.oic-clock-thick {
  &:before {
    content: $oic-clock-thick; 
  }
}
.oic-history {
  &:before {
    content: $oic-history; 
  }
}
.oic-history-thick {
  &:before {
    content: $oic-history-thick; 
  }
}
.oic-download {
  &:before {
    content: $oic-download; 
  }
}
.oic-download-thick {
  &:before {
    content: $oic-download-thick; 
  }
}
.oic-print {
  &:before {
    content: $oic-print; 
  }
}
.oic-print-thick {
  &:before {
    content: $oic-print-thick; 
  }
}
.oic-share {
  &:before {
    content: $oic-share; 
  }
}
.oic-plus {
  &:before {
    content: $oic-plus; 
  }
}
.oic-tick {
  &:before {
    content: $oic-tick; 
  }
}
.oic-filter {
  &:before {
    content: $oic-filter; 
  }
}
.oic-caret-right {
  &:before {
    content: $oic-caret-right; 
  }
}
.oic-location-arrow {
  &:before {
    content: $oic-location-arrow; 
  }
}
.oic-file-rack {
  &:before {
    content: $oic-file-rack; 
  }
}
.oic-judgements {
  &:before {
    content: $oic-judgements; 
  }
}
.oic-us-foreign-sanctions {
  &:before {
    content: $oic-us-foreign-sanctions; 
  }
}
.oic-neighbour {
  &:before {
    content: $oic-neighbour; 
  }
}
.oic-dob {
  &:before {
    content: $oic-dob; 
  }
}
.oic-dod {
  &:before {
    content: $oic-dod; 
  }
}
.oic-business {
  &:before {
    content: $oic-business; 
  }
}
.oic-medical-sanctions {
  &:before {
    content: $oic-medical-sanctions; 
  }
}
.oic-court {
  &:before {
    content: $oic-court; 
  }
}
.oic-likely-possible-associates {
  &:before {
    content: $oic-likely-possible-associates; 
  }
}
.oic-person-male {
  &:before {
    content: $oic-person-male; 
  }
}
.oic-person-female {
  &:before {
    content: $oic-person-female; 
  }
}
.oic-friends {
  &:before {
    content: $oic-friends; 
  }
}
.oic-employers {
  &:before {
    content: $oic-employers; 
  }
}
.oic-family {
  &:before {
    content: $oic-family; 
  }
}
.oic-criminal {
  &:before {
    content: $oic-criminal; 
  }
}
.oic-bankruptcy {
  &:before {
    content: $oic-bankruptcy; 
  }
}
.oic-criminal-record {
  &:before {
    content: $oic-criminal-record; 
  }
}
.oic-darkweb {
  &:before {
    content: $oic-darkweb; 
  }
}
.oic-data-breaches {
  &:before {
    content: $oic-data-breaches; 
  }
}
.oic-surveillance-camera {
  &:before {
    content: $oic-surveillance-camera; 
  }
}
.oic-real-estate {
  &:before {
    content: $oic-real-estate; 
  }
}
.oic-business-data {
  &:before {
    content: $oic-business-data; 
  }
}
.oic-phone-landline {
  &:before {
    content: $oic-phone-landline; 
  }
}
.oic-liens {
  &:before {
    content: $oic-liens; 
  }
}
.oic-star {
  &:before {
    content: $oic-star; 
  }
}
.oic-intl-phone {
  &:before {
    content: $oic-intl-phone; 
  }
}
.oic-alias {
  &:before {
    content: $oic-alias; 
  }
}
.oic-sex-offender {
  &:before {
    content: $oic-sex-offender; 
  }
}
.oic-voter-registration {
  &:before {
    content: $oic-voter-registration; 
  }
}
.oic-ssn {
  &:before {
    content: $oic-ssn; 
  }
}
.oic-common-residency {
  &:before {
    content: $oic-common-residency; 
  }
}
.oic-country {
  &:before {
    content: $oic-country; 
  }
}
.oic-height {
  &:before {
    content: $oic-height; 
  }
}
.oic-interests {
  &:before {
    content: $oic-interests; 
  }
}
.oic-website-links {
  &:before {
    content: $oic-website-links; 
  }
}
.oic-notoriety {
  &:before {
    content: $oic-notoriety; 
  }
}
.oic-relationship-status {
  &:before {
    content: $oic-relationship-status; 
  }
}
.oic-school {
  &:before {
    content: $oic-school; 
  }
}
.oic-weight {
  &:before {
    content: $oic-weight; 
  }
}
.oic-phone-mobile {
  &:before {
    content: $oic-phone-mobile; 
  }
}
.oic-age {
  &:before {
    content: $oic-age; 
  }
}
.oic-about {
  &:before {
    content: $oic-about; 
  }
}
.oic-member-since {
  &:before {
    content: $oic-member-since; 
  }
}
.oic-employee {
  &:before {
    content: $oic-employee; 
  }
}
.oic-users {
  &:before {
    content: $oic-users; 
  }
}
.oic-user-settings {
  &:before {
    content: $oic-user-settings; 
  }
}
.oic-group {
  &:before {
    content: $oic-group; 
  }
}
.oic-circle-man {
  &:before {
    content: $oic-circle-man; 
  }
}
.oic-internal-id {
  &:before {
    content: $oic-internal-id; 
  }
}
.oic-bio {
  &:before {
    content: $oic-bio; 
  }
}
.oic-birthday {
  &:before {
    content: $oic-birthday; 
  }
}
.oic-city {
  &:before {
    content: $oic-city; 
  }
}
.oic-company {
  &:before {
    content: $oic-company; 
  }
}
.oic-dollar {
  &:before {
    content: $oic-dollar; 
  }
}
.oic-address {
  &:before {
    content: $oic-address; 
  }
}
.oic-location-thick {
  &:before {
    content: $oic-location-thick; 
  }
}
.oic-location {
  &:before {
    content: $oic-location; 
  }
}
.oic-phone {
  &:before {
    content: $oic-phone; 
  }
}
.oic-edit {
  &:before {
    content: $oic-edit; 
  }
}
.oic-scanner {
  &:before {
    content: $oic-scanner; 
  }
}
.oic-save {
  &:before {
    content: $oic-save; 
  }
}
.oic-hamburger {
  &:before {
    content: $oic-hamburger; 
  }
}
.oic-calendar-task {
  &:before {
    content: $oic-calendar-task; 
  }
}
.oic-up-load {
  &:before {
    content: $oic-up-load; 
  }
}
.oic-plus-square {
  &:before {
    content: $oic-plus-square; 
  }
}
.oic-cross-square {
  &:before {
    content: $oic-cross-square; 
  }
}
.oic-link {
  &:before {
    content: $oic-link; 
  }
}
.oic-link-break {
  &:before {
    content: $oic-link-break; 
  }
}
.oic-file-attach {
  &:before {
    content: $oic-file-attach; 
  }
}
.oic-max-screen {
  &:before {
    content: $oic-max-screen; 
  }
}
.oic-resize {
  &:before {
    content: $oic-resize; 
  }
}
.oic-open-file {
  &:before {
    content: $oic-open-file; 
  }
}
.oic-file-search {
  &:before {
    content: $oic-file-search; 
  }
}
.oic-user-file {
  &:before {
    content: $oic-user-file; 
  }
}
.oic-file-copy {
  &:before {
    content: $oic-file-copy; 
  }
}
.oic-file-link-in {
  &:before {
    content: $oic-file-link-in; 
  }
}
.oic-file {
  &:before {
    content: $oic-file; 
  }
}
.oic-file-pdf {
  &:before {
    content: $oic-file-pdf; 
  }
}
.oic-file-audio {
  &:before {
    content: $oic-file-audio; 
  }
}
.oic-calender {
  &:before {
    content: $oic-calender; 
  }
}
.oic-image {
  &:before {
    content: $oic-image; 
  }
}
.oic-album {
  &:before {
    content: $oic-album; 
  }
}
.oic-camera {
  &:before {
    content: $oic-camera; 
  }
}
.oic-send {
  &:before {
    content: $oic-send; 
  }
}
.oic-arrest {
  &:before {
    content: $oic-arrest; 
  }
}
.oic-professional-data {
  &:before {
    content: $oic-professional-data; 
  }
}
.oic-professional-licenses {
  &:before {
    content: $oic-professional-licenses; 
  }
}
.oic-motor-vehicle {
  &:before {
    content: $oic-motor-vehicle; 
  }
}
.oic-driver-license {
  &:before {
    content: $oic-driver-license; 
  }
}
.oic-books {
  &:before {
    content: $oic-books; 
  }
}
.oic-question-circle {
  &:before {
    content: $oic-question-circle; 
  }
}
.oic-bell {
  &:before {
    content: $oic-bell; 
  }
}
.oic-bookmark {
  &:before {
    content: $oic-bookmark; 
  }
}
.oic-tag {
  &:before {
    content: $oic-tag; 
  }
}
.oic-drag {
  &:before {
    content: $oic-drag; 
  }
}
.oic-moon {
  &:before {
    content: $oic-moon; 
  }
}
.oic-database {
  &:before {
    content: $oic-database; 
  }
}
.oic-language {
  &:before {
    content: $oic-language; 
  }
}
.oic-gamescore {
  &:before {
    content: $oic-gamescore; 
  }
}

