@charset "UTF-8";
@font-face {
  font-family: "owl-icons";
  src: url("fonts/owl-icons.eot?v0ctu8");
  src: url("fonts/owl-icons.eot?v0ctu8#iefix") format("embedded-opentype"), url("fonts/owl-icons.ttf?v0ctu8") format("truetype"), url("fonts/owl-icons.woff?v0ctu8") format("woff"), url("fonts/owl-icons.svg?v0ctu8#owl-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="oic-"], [class*=" oic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "owl-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oic-monitoring:before {
  content: "";
  color: #666;
}

.oic-m-analytics:before {
  content: "";
}

.oic-calendar:before {
  content: "";
}

.oic-delete:before {
  content: "";
}

.oic-warning:before {
  content: "";
}

.oic-tick-circle:before {
  content: "";
}

.oic-rocket:before {
  content: "";
}

.oic-bell-fill:before {
  content: "";
  color: #495055;
}

.oic-question-circle-fill:before {
  content: "";
  color: #495055;
}

.oic-m-calendar-task:before {
  content: "";
  color: #495055;
}

.oic-m-admin:before {
  content: "";
  color: #495055;
}

.oic-m-group:before {
  content: "";
  color: #495055;
}

.oic-m-doc-link-in:before {
  content: "";
  color: #495055;
}

.oic-m-database:before {
  content: "";
  color: #495055;
}

.oic-m-bookmark:before {
  content: "";
  color: #495055;
}

.oic-m-drag:before {
  content: "";
  color: #495055;
}

.oic-m-search-lens:before {
  content: "";
  color: #495055;
}

.oic-m-link:before {
  content: "";
}

.oic-m-file-doc:before {
  content: "";
}

.oic-m-file-lens:before {
  content: "";
  color: #495055;
}

.oic-m-doc-file:before {
  content: "";
  color: #495055;
}

.oic-search:before {
  content: "";
}

.oic-search-thick:before {
  content: "";
}

.oic-cross-thin:before {
  content: "";
}

.oic-cross:before {
  content: "";
}

.oic-cross-thick:before {
  content: "";
}

.oic-cross-sm:before {
  content: "";
}

.oic-arrow-up:before {
  content: "";
}

.oic-arrow-right:before {
  content: "";
}

.oic-arrow-down:before {
  content: "";
}

.oic-arrow-left:before {
  content: "";
}

.oic-arrow-up-thick:before {
  content: "";
}

.oic-arrow-right-thick:before {
  content: "";
}

.oic-arrow-down-thick:before {
  content: "";
}

.oic-arrow-left-thick:before {
  content: "";
}

.oic-envelope:before {
  content: "";
}

.oic-envelope-thick:before {
  content: "";
}

.oic-circle:before {
  content: "";
}

.oic-circle-target:before {
  content: "";
}

.oic-circle-goal:before {
  content: "";
}

.oic-eye:before {
  content: "";
}

.oic-eye-thick:before {
  content: "";
}

.oic-dots:before {
  content: "";
}

.oic-dots-thick:before {
  content: "";
}

.oic-gender:before {
  content: "";
}

.oic-gender-thick:before {
  content: "";
}

.oic-clock:before {
  content: "";
}

.oic-clock-thick:before {
  content: "";
}

.oic-history:before {
  content: "";
}

.oic-history-thick:before {
  content: "";
}

.oic-download:before {
  content: "";
}

.oic-download-thick:before {
  content: "";
}

.oic-print:before {
  content: "";
}

.oic-print-thick:before {
  content: "";
}

.oic-share:before {
  content: "";
}

.oic-plus:before {
  content: "";
}

.oic-tick:before {
  content: "";
}

.oic-filter:before {
  content: "";
}

.oic-caret-right:before {
  content: "";
}

.oic-location-arrow:before {
  content: "";
}

.oic-file-rack:before {
  content: "";
}

.oic-judgements:before {
  content: "";
}

.oic-us-foreign-sanctions:before {
  content: "";
}

.oic-neighbour:before {
  content: "";
}

.oic-dob:before {
  content: "";
}

.oic-dod:before {
  content: "";
}

.oic-business:before {
  content: "";
}

.oic-medical-sanctions:before {
  content: "";
}

.oic-court:before {
  content: "";
}

.oic-likely-possible-associates:before {
  content: "";
}

.oic-person-male:before {
  content: "";
}

.oic-person-female:before {
  content: "";
}

.oic-friends:before {
  content: "";
}

.oic-employers:before {
  content: "";
}

.oic-family:before {
  content: "";
}

.oic-criminal:before {
  content: "";
}

.oic-bankruptcy:before {
  content: "";
}

.oic-criminal-record:before {
  content: "";
}

.oic-darkweb:before {
  content: "";
}

.oic-data-breaches:before {
  content: "";
}

.oic-surveillance-camera:before {
  content: "";
}

.oic-real-estate:before {
  content: "";
}

.oic-business-data:before {
  content: "";
}

.oic-phone-landline:before {
  content: "";
}

.oic-liens:before {
  content: "";
}

.oic-star:before {
  content: "";
}

.oic-intl-phone:before {
  content: "";
}

.oic-alias:before {
  content: "";
}

.oic-sex-offender:before {
  content: "";
}

.oic-voter-registration:before {
  content: "";
}

.oic-ssn:before {
  content: "";
}

.oic-common-residency:before {
  content: "";
}

.oic-country:before {
  content: "";
}

.oic-height:before {
  content: "";
}

.oic-interests:before {
  content: "";
}

.oic-website-links:before {
  content: "";
}

.oic-notoriety:before {
  content: "";
}

.oic-relationship-status:before {
  content: "";
}

.oic-school:before {
  content: "";
}

.oic-weight:before {
  content: "";
}

.oic-phone-mobile:before {
  content: "";
}

.oic-age:before {
  content: "";
}

.oic-about:before {
  content: "";
}

.oic-member-since:before {
  content: "";
}

.oic-employee:before {
  content: "";
}

.oic-users:before {
  content: "";
}

.oic-user-settings:before {
  content: "";
}

.oic-group:before {
  content: "";
}

.oic-circle-man:before {
  content: "";
}

.oic-internal-id:before {
  content: "";
}

.oic-bio:before {
  content: "";
}

.oic-birthday:before {
  content: "";
}

.oic-city:before {
  content: "";
}

.oic-company:before {
  content: "";
}

.oic-dollar:before {
  content: "";
}

.oic-address:before {
  content: "";
}

.oic-location-thick:before {
  content: "";
}

.oic-location:before {
  content: "";
}

.oic-phone:before {
  content: "";
}

.oic-edit:before {
  content: "";
}

.oic-scanner:before {
  content: "";
}

.oic-save:before {
  content: "";
}

.oic-hamburger:before {
  content: "";
}

.oic-calendar-task:before {
  content: "";
}

.oic-up-load:before {
  content: "";
}

.oic-plus-square:before {
  content: "";
}

.oic-cross-square:before {
  content: "";
}

.oic-link:before {
  content: "";
}

.oic-link-break:before {
  content: "";
}

.oic-file-attach:before {
  content: "";
}

.oic-max-screen:before {
  content: "";
}

.oic-resize:before {
  content: "";
}

.oic-open-file:before {
  content: "";
}

.oic-file-search:before {
  content: "";
}

.oic-user-file:before {
  content: "";
}

.oic-file-copy:before {
  content: "";
}

.oic-file-link-in:before {
  content: "";
}

.oic-file:before {
  content: "";
}

.oic-file-pdf:before {
  content: "";
}

.oic-file-audio:before {
  content: "";
}

.oic-calender:before {
  content: "";
}

.oic-image:before {
  content: "";
}

.oic-album:before {
  content: "";
}

.oic-camera:before {
  content: "";
}

.oic-send:before {
  content: "";
}

.oic-arrest:before {
  content: "";
}

.oic-professional-data:before {
  content: "";
}

.oic-professional-licenses:before {
  content: "";
}

.oic-motor-vehicle:before {
  content: "";
}

.oic-driver-license:before {
  content: "";
}

.oic-books:before {
  content: "";
}

.oic-question-circle:before {
  content: "";
}

.oic-bell:before {
  content: "";
}

.oic-bookmark:before {
  content: "";
}

.oic-tag:before {
  content: "";
}

.oic-drag:before {
  content: "";
}

.oic-moon:before {
  content: "";
}

.oic-database:before {
  content: "";
}

.oic-language:before {
  content: "";
}

.oic-gamescore:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */