$icomoon-font-family: "owl-icons" !default;
$icomoon-font-path: "fonts" !default;

$oic-monitoring: "\e902";
$oic-m-analytics: "\e900";
$oic-calendar: "\e901";
$oic-delete: "\e918";
$oic-warning: "\e99b";
$oic-tick-circle: "\e99c";
$oic-rocket: "\e99a";
$oic-bell-fill: "\e994";
$oic-question-circle-fill: "\e995";
$oic-m-calendar-task: "\e920";
$oic-m-admin: "\e95e";
$oic-m-group: "\e964";
$oic-m-doc-link-in: "\e965";
$oic-m-database: "\e97f";
$oic-m-bookmark: "\e984";
$oic-m-drag: "\e98c";
$oic-m-search-lens: "\e990";
$oic-m-link: "\e996";
$oic-m-file-doc: "\e997";
$oic-m-file-lens: "\e998";
$oic-m-doc-file: "\e999";
$oic-search: "\e93a";
$oic-search-thick: "\e91d";
$oic-cross-thin: "\e937";
$oic-cross: "\e938";
$oic-cross-thick: "\e906";
$oic-cross-sm: "\e942";
$oic-arrow-up: "\e969";
$oic-arrow-right: "\e978";
$oic-arrow-down: "\e979";
$oic-arrow-left: "\e97a";
$oic-arrow-up-thick: "\e921";
$oic-arrow-right-thick: "\e931";
$oic-arrow-down-thick: "\e934";
$oic-arrow-left-thick: "\e93b";
$oic-envelope: "\e94f";
$oic-envelope-thick: "\e90c";
$oic-circle: "\e973";
$oic-circle-target: "\e981";
$oic-circle-goal: "\e90f";
$oic-eye: "\e945";
$oic-eye-thick: "\e946";
$oic-dots: "\e96e";
$oic-dots-thick: "\e96d";
$oic-gender: "\e95a";
$oic-gender-thick: "\e90e";
$oic-clock: "\e93c";
$oic-clock-thick: "\e909";
$oic-history: "\e915";
$oic-history-thick: "\e911";
$oic-download: "\e93d";
$oic-download-thick: "\e90b";
$oic-print: "\e93f";
$oic-print-thick: "\e91a";
$oic-share: "\e903";
$oic-plus: "\e944";
$oic-tick: "\e91f";
$oic-filter: "\e96a";
$oic-caret-right: "\e96b";
$oic-location-arrow: "\e96c";
$oic-file-rack: "\e970";
$oic-judgements: "\e97b";
$oic-us-foreign-sanctions: "\e92b";
$oic-neighbour: "\e92e";
$oic-dob: "\e92f";
$oic-dod: "\e985";
$oic-business: "\e930";
$oic-medical-sanctions: "\e932";
$oic-court: "\e933";
$oic-likely-possible-associates: "\e97d";
$oic-person-male: "\e935";
$oic-person-female: "\e989";
$oic-friends: "\e980";
$oic-employers: "\e98a";
$oic-family: "\e976";
$oic-criminal: "\e992";
$oic-bankruptcy: "\e987";
$oic-criminal-record: "\e961";
$oic-darkweb: "\e936";
$oic-data-breaches: "\e94a";
$oic-surveillance-camera: "\e94e";
$oic-real-estate: "\e950";
$oic-business-data: "\e974";
$oic-phone-landline: "\e975";
$oic-liens: "\e977";
$oic-star: "\e993";
$oic-intl-phone: "\e982";
$oic-alias: "\e986";
$oic-sex-offender: "\e988";
$oic-voter-registration: "\e98f";
$oic-ssn: "\e98e";
$oic-common-residency: "\e983";
$oic-country: "\e908";
$oic-height: "\e910";
$oic-interests: "\e912";
$oic-website-links: "\e913";
$oic-notoriety: "\e919";
$oic-relationship-status: "\e91b";
$oic-school: "\e91c";
$oic-weight: "\e91e";
$oic-phone-mobile: "\e92c";
$oic-age: "\e904";
$oic-about: "\e905";
$oic-member-since: "\e917";
$oic-employee: "\e90d";
$oic-users: "\e96f";
$oic-user-settings: "\e95f";
$oic-group: "\e948";
$oic-circle-man: "\e959";
$oic-internal-id: "\e914";
$oic-bio: "\e907";
$oic-birthday: "\e90a";
$oic-city: "\e916";
$oic-company: "\e922";
$oic-dollar: "\e923";
$oic-address: "\e98d";
$oic-location-thick: "\e924";
$oic-location: "\e95c";
$oic-phone: "\e939";
$oic-edit: "\e940";
$oic-scanner: "\e943";
$oic-save: "\e94c";
$oic-hamburger: "\e94d";
$oic-calendar-task: "\e925";
$oic-up-load: "\e951";
$oic-plus-square: "\e953";
$oic-cross-square: "\e95d";
$oic-link: "\e949";
$oic-link-break: "\e954";
$oic-file-attach: "\e967";
$oic-max-screen: "\e941";
$oic-resize: "\e966";
$oic-open-file: "\e95b";
$oic-file-search: "\e968";
$oic-user-file: "\e962";
$oic-file-copy: "\e94b";
$oic-file-link-in: "\e960";
$oic-file: "\e955";
$oic-file-pdf: "\e958";
$oic-file-audio: "\e929";
$oic-calender: "\e963";
$oic-image: "\e92a";
$oic-album: "\e971";
$oic-camera: "\e927";
$oic-send: "\e928";
$oic-arrest: "\e92d";
$oic-professional-data: "\e991";
$oic-professional-licenses: "\e98b";
$oic-motor-vehicle: "\e97c";
$oic-driver-license: "\e97e";
$oic-books: "\e926";
$oic-question-circle: "\e93e";
$oic-bell: "\e952";
$oic-bookmark: "\e947";
$oic-tag: "\e972";
$oic-drag: "\e956";
$oic-moon: "\e957";
$oic-database: "\e99d";
$oic-language: "\e99e";
$oic-gamescore: "\e99f";

